<h3>Ingresa con tu usuario y contraseña</h3>

{% if login_error_message %}
<p><strong>{{ login_error_message }}</strong></p>
{% endif %}

<form action="{% url 'landing:user_login' %}" method="post">
	{% csrf_token %}
	<input type="text" name="username" id="username">
	<label for="username">Username</label><br/>
	<input type="password" name="password" id="password">
	<label for="password">Password</label><br/>
	<input type="submit" value="Enviar">
</form>

<h1>Bienvenido a CPS ingenieria</h1>
<h2>Hacemos CPS's</h2>
<p>Pero, que es un CPS? Bueno, estrictamente hablando, se trata de un Cyber-Physical-System. Es un sistema que se compone de una parte fisica, algo que podemos ver y tocar, que se mueve y existe en el mundo material; y ademas se complementa con una parte cibernetica, un programa o algoritmo, que no podemos ni ver ni tocar, y que generalmente existe dentro de una computadora, mas comunmente en internet.</p>

<h3>Deseas saber mas acerca de los CPS's? Puedes registrarte:</h3>

{% if signin_error_message %}
<p><strong>{{ signin_error_message }}</strong></p>
{% endif %}

<form action="{% url 'landing:new_user' %}" method="post">
	{% csrf_token %}
	<input type="text" name="username" id="username">
	<label for="username">Username</label><br/>
	<input type="email" name="email" id="email">
	<label for="email">Email</label><br/>
	<input type="password" name="password1" id="password1">
	<label for="password1">Password</label><br/>
	<input type="password" name="password2" id="password2">
	<label for="password2">Confirme password</label><br/>
	<input type="submit" value="Enviar">
</form>
